* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 1.05rem;
}

html,
body {
  /* background: linear-gradient(to right, #c9eeff3e, #f5c7f73e); */
  background-color: #fff08dc0;
}

/* -------------------
-------------------
Host Banner
-------------------
------------------- */

.top-banner {
  width: 100%;
  text-align: center; /* Center the image */
  padding: 10px 0; /*Add some spacing */
  border-bottom: 1px solid #ddd; /* Thin separator line */
  background-color: #ffffff;
}

.top-banner img {
  max-width: 100%;
  height: 50px; /* Maintain aspect ratio */
}

/* -------------------
-------------------
Navbar
-------------------
------------------- */

#navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
  background-color: #070e23;
}

#navbar #logo a img {
  margin: 5px;
  padding-top: 5px;
  max-height: 40px;
}

#navbar #menu ul {
  display: flex;
  list-style-type: none;
}

#navbar #menu ul li {
  margin: 5px;
  padding: 5px;
}

#navbar #menu ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
}

/* -------------------
-------------------
Form
-------------------
------------------- */

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.icon{
    display: flex;
    justify-content: center;
}

form {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  width: 20vw;
  margin: 50px auto;
  padding: 40px 40px 29px 40px;
  justify-content: center;
}

form input {
  width: 100%;
  border: none;
  background: #fafafa;
  height: 3rem;
  margin-top: 10px;
}

form div{
    margin: 10px;
}

button {
  width: 60%;
  padding: 5px;
  background-color: #00BBF9;
  border: none;
  border-radius: 15px;
}

.btn{
    display: flex;
    justify-content: center;
}

/* -------------------
-------------------
Footer
-------------------
------------------- */

footer {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: #070e23;
    color: #ffffff;
    margin-top: 20px;
  }
  
  footer div {
    margin-top: 1.5em;
  }
  
